#resident-content{
    height: 75vh;
    width: auto;
    overflow: auto;
}

.bilBox{
    width: 98%;
    height: 10%;
    margin: 1%;
    padding: 1%;
}

.textBox{
    width: 98%;
    height: 5%;
    margin: 1%;
}